# DUB
.dub
docs.json
__dummy.html
dub.selections.json
ddhx-*
/ddhx
__test__*__
*.o
*.obj
*.exe
*.pdb
*.zip
*.tar
*.gz
*.xz
*.lib
*.a
*.bzip2
.fuse_*
docs/

# flamegraph
perf.data
perf.data.old
flame.svg

# Other editors
*.swp

# Project
.ddhxrc
*.log
*.patch

# Personal
perso/
examples/