# DUB
.dub
docs.json
__dummy.html
dub.selections.json
ddhx-test-library
ddhx-test-default
/ddhx
__test__*__
*.o
*.obj
*.exe
*.pdb
*.zip
*.tar
*.gz
*.xz
*.bzip2
.fuse_*

# Editors
*.swp

# Project
src/gitinfo.d
.ddhxrc
*.log

# Personal
perso/
examples/