# DUB
.dub
docs.json
__dummy.html
dub.selections.json
ddhx-test-*
/ddhx
__test__*__
*.o
*.obj
*.exe
*.pdb
*.zip
*.tar
*.gz
*.xz
*.bzip2
.fuse_*

# Other editors
*.swp

# Project
.ddhxrc
*.log
*.patch

# Personal
perso/
examples/